body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

div a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

div a:hover {
    color: darkgrey;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 0 1 900px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
}

.content .card {
    padding: 10px;
    background-color: #eee;
    height: 200px;
    width: 600px;
    text-align: center;
    border-radius: 2px;
}

footer {
    background-color: #eee;
    text-align: center;
    padding: 10px;
}